.EventSystemPanel {
  font-family: 'Proxima Nova';
  font-weight: 400;
  font-size: 17px;
  line-height: 1.21;
  color: var(--text_main);
  display: flex;
  flex-direction: column;
  height: 100%;

  &,
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  .Wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .TabContainer {
    padding: 10px 10px 0;
  }

  .PanelList {
    padding: 0 4px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .Header,
  .Body {
    padding: 10px 0;
  }

  .Header {
    flex: 0 0 auto;
    border-bottom: 1px solid var(--border_secondary);
    background-color: var(--background_main);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 10px;
  }

  .mainTitle {
    font-weight: 600;
    margin: 0;
  }

  .Body {
    flex: 1 0 auto;
    background-color: var(--background_main);
    padding: 10px;
  }

  .TabTopBtnWrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 10px;
    border-bottom: 1px solid var(--border_secondary);
    background-color: var(--background_main);
  }

  .SearchSubscribe {
    width: 50%;
    padding-right: 10px;

    .FontIcon {
      color: var(--text_main);
    }
  }

  .Subtitle {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .FieldContainer {
    display: flex; 
    justify-content: space-between;
    align-items: baseline;
    gap: 10px;
    padding-bottom: 10px;

    &.type_alfa {
      padding-bottom: 20px;
    }

    .Param {
      width: 50%;

      &.type_full {
        width: 100%;
      }
    }
  }

  .AddParam {
    display: flex;
    align-items: flex-end;
    column-gap: 10px;
    width: 50%; 

    .ParamIconWrapper {
      align-self: end;
      padding-bottom: 3px;
    }  
  }

  .ActionParams {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    
    .ParamsWrapper {
      padding-bottom: 10px;
    }
  }

  .ExpanderIconBtn {
    display: inline-flex;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    flex: none;
    gap: 5px;
    color: var(--text_main);
  }

  .ExpanderSummaryContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 8px;
  }

  .Table {
    width: 100%;

    &.theme_alfa {
      table-layout: fixed;

      .Column {
        vertical-align: top;
        padding: 0;

        &.type_first {
          width: 97px;
          padding-right: 16px;
        }

        &.type_second {
          font-weight: 700;
        }
      }

      tr {
        &:not(:last-of-type) {
          .Column {
            padding-bottom: 8px;
          }
        }
      }

      pre {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  .GridContainer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;

    .Column {
      flex: 1 0 auto;
    }

    &.type_subscription {
      row-gap: 10px;
    }
  }

  .BtnWrapper {
    display: flex;
    gap: 5px;
  }

  .FontIcon {
    &.name_plusCircle {
      color: var(--button_primary);
    }
  } 
}
